# macOS system files
.DS_Store

# Compiled C++ object files and default outputs
*.o
*.out

# Image files (Datasets shouldn't be tracked in Git)
*.jpg
*.jpeg
*.png

# Executable files
secvential_app
openmp_app
mpi_app
hibrid_app